@{
    ViewData["Title"] = "Home Page";
}


<container class="py-5">
    <div class="row py-5">
        <div class="col-lg-5 pt-5 text-center">
            <img src="/images//homepage/homepage 1.png" class="img-fluid img-responsive">
        </div>
    <div class="col-lg-7">
        <div class="row">
            <div class="col py-4">   
                <img src="/images//homepage/homepage 2.png" class="img-fluid img-responsive">
            </div>
        </div>
      </div>
    </div>
</container>