@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card py-3">
            <div class="card-header bg-transparent m-lg-2 my-3">
                <h1 class="text-center">Login</h1>
            </div>
            <div class="card-body">
                <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating py-2">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating py-2">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox py-2">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="col text-center mt-3">
                    <button id="login-submit" type="submit" class="btn btn-auth mr-3">Log in</button>
                </div>
                <div class="mt-5">
                    <p>
                        Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"><strong>Register here!</strong></a>
                    </p>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
